*{
font-family: helvetica;
}

.head{
  color: white;
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png") no-repeat center;
}

h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

li{
  font-size: 18px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-decoration: underline;
}

a{
color: white;
}

#work{
  color: white;
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png") no-repeat center;
}

.body{
  text-align: center;
}

.foot {
  text-align:left;
  color: white;
  background-color: dimgray;
}

.span{
font-size: 11px;
}
